button {
  width: 100%;
  height: 100%;
  font-size: 50px;
  border-width: 1px;
}

.player {
  color: #000000a1;

  &-x {
    background-color: rgb(255 202 165);
  }

  &-o {
    background-color: #c1ffba;
  }
}
