:host {
  --square-size: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

h1,
h2 {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: var(--square-size) var(--square-size) var(--square-size);
  grid-gap: 0px;
}

app-square {
  height: var(--square-size);
}
